@mixin bg_color(){
  background-color: #3f8e4d;//默认值
  [data-theme="theme1"] & {

    background-color: red;
    color: white;
    font-size: 20px;
  }
  [data-theme="theme2"] & {
    background-color: yellow;
    color: black;
    font-size: 20px;
  }
  [data-theme="theme3"] & {
    background-color: black;
    color: red;
    font-size: 20px;
  }
}
